.awrapper{
    background-image: url(../../assets/image/aw10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    color: var(--white);
}

.awrapper .box{
    padding: 70px 0;
}

.awrapper img{
    margin-right: 30px;
}

.awrapper h1{
    font-size: 50px;
}

.awrapper h3{
    font-size: 20px;
    font-weight: 600;
}