header {
    background-color: var(--silver) !important;
    margin: 0 30px;
    position: relative;
}

header ul {
    padding: 30px 20px;
}

header li {
    margin-left: 40px;
}

header ul li a {
    color: var(--white);
    font-weight: 900;
    transition: 0.5s;
}

header ul li a:hover {
    color: var(--initialColor);
}

.init {
    background-color: var(--initialColor);
    padding: 30px 70px;
    color: var(--white);
    font-weight: 600;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.toggle {
    display: none;
}


@media screen and (max-width:768px) {
    .init {
        clip-path: none !important;
    }

    header {
        position: relative !important;
        background-color: var(--initialColor) !important;
        margin: 0 !important;
    }

    header ul.orgFlex {
        display: none;
    }

    header ul li{
        margin-bottom: 10px;
    }

    .toggle {
        display: block;
        background: none;
        color: var(--white);
        font-size: 30px;
        position: absolute;
        right: 30px;
        top: 30px;
        
    }

    .navMobile{
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background-color: var(--initialColor);
    }
}